---
import { Icon } from "astro-icon/components";
---

<header class="h-screen flex items-center justify-center text-center -mt-7">
  <h1 class="font-anton text-[10rem] leading-tight">
    FULLSTACK <span class="flex"><span>WEB</span> <span><Icon name="internet" width={60} /></span></span> DEVELOPER
  </h1>
</header>
