---
import { Icon } from "astro-icon/components";
---

<header class="min-h-screen flex items-center justify-center text-center -mt-8">
  <div class="sapce-y-36">
    <div class="text-[13rem] font-anton">
      <h1 class="leading-[1.0]">FULLSTACK WEB</h1>
      <div class="flex items-center justify-center">
        <span>DEVELOPER</span>
        <!-- <Icon name="internet" /> -->
      </div>
    </div>

    <div class="text-center uppercase font-bold">
      <p>Crafting Pixel Perfect, Secure, and</p>
      <p>User Friendly Web Apps</p>
    </div>
  </div>
</header>
