---
import { Icon } from "astro-icon/components";
---

<section>
  <div class="py-[10rem] flex items-center justify-between container">
    <div class="text-zinc-400 max-w-md space-y-3">
      <p class="font-anton text-3xl uppercase text-primary">Crafty Something</p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam tempora placeat iusto facilis sequi numquam
        quas delectus corrupti provident cum?
      </p>
    </div>
    <div class="text-zinc-400 max-w-md space-y-3">
      <p class="font-anton text-3xl uppercase text-primary">Crafty Something</p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam tempora placeat iusto facilis sequi numquam
        quas delectus corrupti provident cum?
      </p>
    </div>

    <div>
      <a href="/contact">
        <div class="flex items-center gap-1 group text-zinc-400">
          <p>Contact Me</p>
          <Icon name="arrow-right" class="text-3xl duration-200 group-hover:translate-x-1 group-hover:-translate-y-1" />
        </div></a
      >
    </div>
  </div>
</section>
