---

---

<section>
  <div class="py-[10rem] flex items-center gap-28 container">
    <div class="size-[28rem] rounded-full border flex-shrink-0"></div>

    <div class="text-3xl">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam alias enim amet asperiores rem eos tempore? Illo
        minima, aut dolor, Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et, magni.
      </p>
    </div>
  </div>
</section>
