---
import { navLinks } from "../../data/nav";
---

<nav>
  <div class="container py-5 flex items-center justify-between">
    <a href="/" class="font-anton text-3xl">BN</a>

    <div class="flex items-center gap-8 text-primary/80 text-sm">
      {
        navLinks.map((navLink) => (
          <div>
            <a href={navLink.href}>{navLink.title}</a>
          </div>
        ))
      }
      <button class="bg-secondary font-bold text-dark px-4 py-2 rounded-full">Let's talk</button>
    </div>

  </div>
</nav>
