---
import "../styles/global.css";

import "@fontsource-variable/dm-sans";
import "@fontsource/anton";

import MainHead from "./MainHead.astro";
import Navbar from "./Navbar/index.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props as Props;
---

<html lang="en">
  <MainHead {title} {description} />
  <body class="font-sans bg-dark text-primary">
    <Navbar />
    <slot />
    <div class="h-[20rem]"></div>
  </body>
</html>
